//Importr Styles
@import '~bootstrap/scss/bootstrap.scss';

// Font
$fa-font-path: './webfonts';
@import '~@fontsource/montserrat/index.css';
@import '~@fontsource/montserrat/400.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';


// My Styles
@import './variables.scss';

body {
  font-family: $main-font;
  color: $text-color;
  background-color: $top-color;
}



